<!-- Intro Start -->

<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h1 class="brand-heading">&nbsp;</h1>
          <span class="intro-text">{{ content }}</span>
          <h5>&nbsp;</h5>
           <!-- 头像效果-start -->
        <div class="ih-item circle effect right_to_left">            
          <a href="#{{ site.pages_list['关于'] }}" class="blog-button page-scroll">
              <div class="img"><img  src="{{ site.me-img }}" alt="img"></div>
              <div class="info">
                  <div class="info-back">
                      <h2> 
                          开门
                      </h2>
                  </div>
              </div>
          </a>
      </div>
      <!-- 头像效果-end -->

          <!-- <a href="#{{ site.pages_list['关于'] }}" class="page-scroll">
            {% if site.me-img contains "https://" %}
              <img class="img-me" src="{{ site.me-img }}" alt="" />
            {% else %}
              <img
                class="img-me"
                src="{{site.url}}{{ site.me-img }}"
                alt=""
              />
            {% endif %}
          </a> -->
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Intro End -->
